CompileFlags:
  Add:
    # 使用 C23 标准   
    - "-x"
    - "c"         # 指定语言为 C
    - "-std=c23"    #启用 C23 特性
    - "-Iinclude"
    - "-Ithird_party/include"
    - "-I/usr/local/include/safeclib"
    - "-L/usr/local/include/safeclib/safec_lib"
    # 移除 "-fsyntax-only" 和 "-std=c20"

  # 强制覆盖所有文件的标志（覆盖 compile_commands.json）
  CompilationDatabase: false